body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calc-pic{
  width:100px;
}

.center{
  max-width: fit-content;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.body{
  max-width: fit-content;
  margin-inline: auto;
}

.title{
  font-size:50px;
  font-weight: 800;
}

button{
  width: 40px;
}

.display-bg{
  height:30px;
  width:200px;
  background:white;
  border-radius:20px
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#cccccc;
  border-color:#c20202;
  border-width:medium
}

div.main {
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
  width:550px;
  height:400px;
}

h1 {
  color:#c20202;
}

button {
  border-radius: 15px;
  border-width:thin;
  width:36px;
  margin-left:5px;
  margin-right:5px;
  margin-top:3px;
  margin-bottom:3px;
}

button.number {
  color:#ffffff;
  background-color:#c20202;
    border-color:#c20202;
}

button.op {
  color:#ffffff;
  background-color:#444444;
  border-color:#c20202;
}

button.ce {
  background-color:#d3d3d3
}

span.display {
  border-radius: 8px;
  font-weight:bold;
  width:100%;
  text-align:right;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  top:1px;
}

