button{
    width: 40px;
}
body{
    display: flex;
}
.main{
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.title{
    margin-left:auto;
    margin-right:auto;
}
.display-bg{
    height:20px;
    width:175px;
    background:pink;
}
.ratdiv{
    width:30%;
}
.tablediv{
    width:30%;
}
.circle-div{
    width:30%;
}
#rat{
    width:200px;
}
.table{
    top: 50px;
}
#negative { 
    visibility: hidden; 
}

