button{
    width: 40px;
}
body{
    display: flex;
}
.main{
    margin-left:auto;
    margin-right:auto;
}
.display-bg{
    height:20px;
    width:175px;
    background:pink;
}
.ratdiv{
    float:left;
}
#rat{
    width:100px;
}
.table{
    top: 50px;
}

