button{
    width: 40px;
}
.main{
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:400px;
    width:40%;
}
.title{
    margin:auto;
}
.display-bg{
    height:20px;
    width:175px;
    background:pink;
}
.ratdiv{
    width:100px;
}
.tablediv{
    width:200px;
}
.circle-div{
    width:100px;
}
#rat{
    width:200px;
}
.table{
    top: 50px;
}
#negative { 
    visibility: hidden; 
}
.titlediv{
    height:150px;
}
.parent{
    margin:auto;
}

