body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    background-color:#DFFF00;
    color:#FF651A;
    border-color:#FF651A;
}

.world{
    width:200px;
    margin-left:200px;
}

.Hello{
    margin-left: 50px;
    margin-top:30px;
    background-color:white;
    width:50px;
    cursor: all-scroll;
}