body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#cccccc;
}

* { 
  box-sizing: border-box; 
} 

html { 
  width: 100%; 
  min-height: 100%; 
} 

body { 
  width: inherit; 
  min-height: inherit; 
  margin: 0px; 
  padding: 0px; 
  background-color:lightslategray;
} 

.Main{
  margin: 0px; 
  padding: 0px; 
}

.Column1{
  display:inline-block;
  background-color:chartreuse;
  height:100vh;
  width:49vw;
  margin:0px;
  padding:0px;

}

.Column2{
  display:inline-block;
  background-color:pink;
  height:100vh;
  width:49vw;
  margin:0px;
  padding:0px;

}
