body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#cccccc;
}

* { 
  box-sizing: border-box; 
} 

html { 
  width: 100%; 
  min-height: 100%; 
} 

body { 
  width: inherit; 
  min-height: inherit; 
  margin: 0px; 
  padding: 0px; 
  background-color:lightslategray;
} 

.Main{
  margin: 0px; 
  padding: 0px; 
}

.Section1{
  background-color:#f0f8ff;
  margin: 0px; 
  padding: 0px;
}
.Section1:hover {
  background-color: #f8ffff;
}
.Section2{
  background-color:#f0f8ff;
  color:#000000;
  margin: 0px; 
  padding: 50px; 
}
.Section2:hover {
  background-color: #f8ffff;
}
.Section3{
  background-color:#d3d3d3;
  color:#000000;
  margin: 0px; 
  padding: 50px; 
}
.Section3:hover {
  background-color: #dddddd;
}
.Section4{
  background-color:#f0f8ff;
  color:#000000;
  margin: 0px; 
  padding: 50px; 
}
.Section4:hover {
  background-color: #f8ffff;
}
.Section5{
  background-color:#778899;
  color:#f0f8ff;
  margin: 0px; 
  padding: 50px; 
}
.Section5:hover {
  background-color: #8090a1;
}
.Column1{
  display:inline-block;
  width:49vw;
  background-color:#778899;
  color:#f0f8ff;
  height:100vh;
  vertical-align:top;
}
.Column2{
  display:inline-block;
  width:49vw;
  background-color:#f0f8ff;
}
.burger-menu{
  display:inline-block;
}
.hamburger-button {
  margin-left: 30px;
  margin-top:30px;
  font-size: 24px;
  cursor: pointer;
  background-color:#778899;
  border:0px;
  vertical-align:top;
}
.nav-links {
  display: none;
  background-color: #333;
  color: white;
}
.nav-links a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: #111;
}
.outer-text{
  display:inline-block;
  margin-left:30px;
  margin-top:30px;
  background-color:pink;
}
.inner-text{
  margin-top:100px;
}
.name{
  font-size:30px;
  line-height:20%;
}
.field{
  font-size:16px;
}
.links{
  font-size:12px;
}